<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-6">stat1 <%= id %></div>
      <div class="col-6">stat1 value</div>
    </div>
  </div>
  <div class="col-4">
	  <div id="image"><%= image_tag 'Furbooshio.png', size: "140x140" %>
	  </div>
  </div>
</div>