<div class="row">
  <div class="col-6">
	  <h4><%= @current_game.location.name %></h4>
  	  <div><%= @current_game.location.climate.name %></div>
	  <div><hr/></div>
	  <h5>Animals</h5>
	  <div><%= @current_game.location.animals.map {|a| a.name}.join(" ") %></div>
  </div>
  <div class="col-2" id="image"><%= image_tag "locations/#{@current_game.location.image_path}.png", size: "200x200" %></div>
</div>